<div class="panel panel-default" [rtList]="getList" #list="rtList" (onListInit)="onListInit($event)">
    <div class="panel-heading">
        Календарный план
        <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-success" (click)="download()">
                <i class="fa fa-download"></i>
                 Сохранить
            </button>
            <a type="button" class="btn btn-default" [routerLink]="['/calendar/new']">
                <i class="fa fa-plus"></i> Добавить
            </a>
        </div>
    </div>
    <ul class="timeline">
        <li *ngFor="let item of list.items" class="timeline-inverted">
            <div class="timeline-badge" 
            [class.success]="item.accepted"><i class="glyphicon" [class.glyphicon-ok]="item.accepted" [class.glyphicon-check]="!item.accepted"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">
                        <a >
                            {{item.name}}
                        </a>
                    </h4>
                    <role-student>
                        Отметить выполнение
                    </role-student>
                    <role-admin>
                        Подтвердить
                    </role-admin>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.startDate | date:"dd.MM.yyyy"}} - {{item.endDate| date:"dd.MM.yyyy"}}</small></p>
                </div>
                <comments></comments>
            </div>
        </li>
    </ul>
</div>