<div class="panel panel-default">
    <div class="panel-heading">
        Новый студент
    </div>
    <div  class="panel-body panel-body-loader">
        <form class="col-md-6">
            <div class="form-group">
                <label class="control-label">Фамилия</label>
                <input class="form-control" type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label">Имя</label>
                <input class="form-control" type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label">Отчество</label>
                <input class="form-control" type="text"/>
            </div>
            <div class="form-group">
                <label class="control-label">Группа</label>
                <select class="form-control" type="text">
                    <option selected>ИСБ-41о</option>
                    <option selected>ИСБ-42о</option>
                    <option selected>ИСБ-43о</option>
                </select>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary">Добавить</button>
        <button type="button" class="btn btn-default">Отмена</button>
    </div>
</div>