<div class="panel panel-default">
    <div class="panel-heading">
        Дипломники
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default">
                <i class="fa fa-search"></i> Поиск
            </button>
            <a [routerLink]="['/students/new']" class="btn btn-sm btn-primary">
                <i class="fa fa-search"></i> Добавить
            </a>
        </div>
    </div>
    <div *ngIf="!teachers" class="panel-body panel-body-loader">
        <div class="ball-clip-rotate">
            <div></div>
        </div>
    </div>
    <table class="table table-bordered table-striped" *ngIf="teachers">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Группа</th>
                <th>Дипломная работа</th>
                <th>Преподаватель</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Иванов Иван Иванович</td>
                <td>ИСб-41о</td>
                <td><a>Исследование способов работы с текстом</a></td>
                <td><a>Забаштанский А.К.</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Петров Петр Сергеевич</td>
                <td>ИСб-41о</td>
                <td><button type="button" class="btn btn-sm btn-default">Добавить работу</button></td>
                <td><a>Забаштанский А.К.</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Сидоров Петр Олегович</td>
                <td>ИСб-41о</td>
                <td><button type="button" class="btn btn-sm btn-default">Добавить работу</button></td>
                <td><button type="button" class="btn btn-sm btn-default">Добавить руководителя</button></td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <nav>
            <ul class="pagination pagination-sm m0">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li class="active">
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>