<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Статусы дипломных работ
            </div>
            <div class="panel-body">
                <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Еще пример графика
            </div>
            <div class="panel-body">
                <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="barChartType"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1 class="text-center"> 
        <i class="fa fa-university"></i>
    </h1>
      <h2 class="text-center">АИС Диплом</h2> 
</div>