<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Статусы дипломных работ
            </div>
            <div class="panel-body" *ngIf="!isLoading">
                <div style="display: block">
                <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [chartType]="doughnutChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
             <div class="panel-body" *ngIf="isLoading">
                <loader></loader>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Пользователь
            </div>
            <div class="panel-body" *ngIf="!isLoading">
                Иванов И.В, старший преподаватель <button class="btn btn-sm btn-default">Управление</button>
            </div>
             <div class="panel-body" *ngIf="isLoading">
                <loader></loader>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Сообщения
            </div>
            <ul class="list-group" *ngIf="!isLoading">
                <li class="list-group-item">
                    <span class="badge">1</span>
                    <a>Смит Д.Д.</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">4</span>
                    <a>Пушкин А.С.</a>
                </li>
                <li class="list-group-item">
                    <a>Кузнецов В.Г.</a>
                </li>
            </ul>
             <div class="panel-body" *ngIf="isLoading">
                <loader></loader>
            </div>
        </div>
    </div>
</div>