@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.body-content {
    margin: 2em;
    padding-left: 15px;
    padding-right: 15px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}