body{
    background-color: #edeef0;
}


.jumbotron
{
    border:1px solid #ddd;
}


.nav.navbar-nav>li>a+a,
.nav.navbar-nav>li>a:first-child {
    border-left: 1px solid rgba(34,36,38,.1);
}

.panel-heading .btn-group.pull-right
{
    margin-top:-5px;
}

.btn-icon
{
    position: relative;
    background: transparent;
    background: rgba(0,0,0,.05);
    display: inline-block;
    padding: 5px 15px;
    left: -13px;
    border-radius: 3px 0 0 3px;
}
.btn-labeled    
{
  padding-top:0;
  padding-bottom:0;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea
{
    max-width: 500px!important;
}

.alert-sm
{
    padding: 5px;
}

.rt-sortable {
    position: relative;
    padding-right: 45px;
    cursor: pointer;
}

.rt-sortable:after {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -11px;
    background-position: center center;
    background-repeat: no-repeat;
}
.rt-sortable.rt-sort-asc:after {
    background-image: url("../img/sort-asc.png");
}
.rt-sortable.rt-sort-desc:after {
    background-image: url("../img/sort-desc.png");
}
.rt-sortable:hover:after {
    background-image: url("../img/sortable.png");
}


.app-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
}

.app-loader::before
{
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
}