<div class="panel panel-default">
    <div class="panel-heading">
        Новый преподаватель
    </div>
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">
        <div class="panel-body panel-body-loader">
            <error-list [errors]="errors"></error-list>
            <div class="form-group" [class.has-error]="!form.controls['fio'].valid && form.controls['fio'].touched">
                <label class="control-label">ФИО</label>
                <input name="lastName" placeholder="Фамилия" class="form-control" type="text" [formControl]="form.controls['fio']" />
                <div class="text-danger help-block">
                    <span *ngIf="form.controls['fio'].hasError('required')&&form.controls['fio'].touched">
                        Поле должно быть заполнено.
                    </span>
                    <span *ngIf="form.controls['fio'].hasError('notEmpty')&&form.controls['fio'].touched">
                        Поле не должно быть пустым.
                    </span>
                    <span *ngIf="form.controls['fio'].hasError('wordCount')&&form.controls['fio'].touched">
                        ФИО должно содержать 3 слова.
                    </span>
                </div>
            </div>
            <div class="form-group" [class.has-error]="!form.controls['position'].valid && form.controls['position'].touched">
                <label class="control-label">Должность</label>
                <select class="form-control" placeholder="Должность" [formControl]="form.controls['position']">
                    <option selected value="">Укажите должность...</option>
                    <option *ngFor = "let option of positionOptions" [value]="option.value">
                        {{option.text}}
                    </option>
                </select>
            </div>
            <div class="form-group" [class.has-error]="!form.controls['speciality'].valid && form.controls['speciality'].touched">
                <label class="control-label">Кафедра</label>
                <select class="form-control" placeholder="Должность" [formControl]="form.controls['speciality']">
                    <option selected value="">Укажите кафедру...</option>
                    <option *ngFor = "let option of specialityOptions" [value]="option.value">
                        {{option.text}}
                    </option>
                </select>
            </div>
            <div class="form-group" [class.has-error]="!form.controls['maxWorkCount'].valid && form.controls['maxWorkCount'].touched">
                <label class="control-label">Нагрузка</label>
                <input class="form-control" type="number" placeholder="Нагрузка" [formControl]="form.controls['maxWorkCount']" />
                <div class="text-danger help-block">
                    <span *ngIf="form.controls['maxWorkCount'].hasError('required')&&form.controls['maxWorkCount'].touched">
                        Поле должно быть заполнено.
                    </span>
                    <span *ngIf="form.controls['maxWorkCount'].hasError('minValue')&&form.controls['maxWorkCount'].touched">
                        Значение должно быть больше 0.
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Добавить</button>
            <a [routerLink]="['/teachers']" class="btn btn-default">Отмена</a>
        </div>
    </form>
</div>