<p>
            <button type="button" class="btn btn-info">
                <i class="fa fa-plus"></i> Добавить
            </button>
            </p>
<div class="panel panel-default">
    <div class="panel-heading">
        Преподаватели
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-square btn-default">
                <i class="fa fa-search"></i> Поиск
            </button>
        </div>
    </div>
    <div *ngIf="!teachers" class="panel-body panel-body-loader">
        <div class="ball-clip-rotate">
            <div></div>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover" *ngIf="teachers">
        <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Должность</th>
                <th>Нагрузка</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let forecast of teachers">
                <td>{{ forecast.id }}</td>
                <td>{{ forecast.fio }}</td>
                <td>{{ forecast.position }}</td>
                <td>{{ forecast.maxWorkCount}}</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <nav>
            <ul class="pagination pagination-sm m0">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li class="active">
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>