@{
    ViewData["Title"] = "Home Page";
}

<app>
    <div class="cssload-container">
        <div class="cssload-double-torus"></div>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
