<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Дипломная работа
                <div class="btn-group btn-group-sm pull-right">
                    <a [routerLink]="['/calendar', this.id ]" class="btn btn-success">
                        <i class="fa fa-time"></i>
                        Календарный план
                    </a>
                </div>
            </div>
            <div class="panel-body" *ngIf="isLoading">
                <loader></loader>
            </div>
            <div class="form-horizontal" *ngIf="!isLoading">
                <div class="panel-body">
                    <error-list [errors]="errors"></error-list>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Тема работы</label>
                        <p class="col-sm-10 form-control-static">
                            {{ work.name }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Студент</label>
                        <p class="col-sm-10 form-control-static">
                            {{work.students[0].fio }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Руководитель</label>
                        <p class="col-sm-10 form-control-static">
                            {{work.teacher.fio }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Утверждена</label>
                        <p class="col-sm-10 form-control-static">
                            {{work.isAccepted }} Да
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Дата утверждения</label>
                        <p class="col-sm-10 form-control-static">
                            {{work.acceptedDate }} 01.03.2017
                        </p>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary"> Редактировать</button>
                    <a [routerLink]="['/groups']" class="btn btn-default">Отмена</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default">Добавить материал...</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" disabled>Утвердить тему</button>
                 <button type="button" class="btn btn-default">Допустить</button>
                <button type="button" class="btn btn-warning">Недопуск</button>
            </div>
        </div>
        <br>
        <anti-plagiat [results]="antiplagiatResults"></anti-plagiat>
        <div class="panel panel-default">
            <div class="panel-heading">
                Предзащита
                <div class="btn-group btn-group-sm pull-right">
                    <a [routerLink]="['/add']" class="btn btn-default">
                        <i class="fa fa-time"></i>
                        Добавить дату
                    </a>
                     <a [routerLink]="['/add']" class="btn btn-default">
                        <i class="fa fa-time"></i>
                        Добавить результат
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <p class="title text-center">Нет данных</p>
            </div>
        </div>
        <file-list title="Материалы" [files]="files"></file-list>
    </div>
    
</div>
<comments></comments>